.errors {
      padding-left: 0.5em;
      background-color: red;
    }

.panelHTML {
	border: 0px solid #ddf;
	height: 100%;
	width: 100%;
}

.fields {
	margin: 0.5em;
	padding-right: 1em;
	white-space: nowrap;
}
.fieldsFliestext {
	white-space: normal;
}

.fields td {
	padding: 0.1em;
	white-space: nowrap;
}

.label {
	min-height: 25px;
	font-weight: bold;
}

.label2 {
	float: left;
}

.button {
	margin-left: 0.5em;
	float: right;
	background: none;
	cursor: pointer;
}

.header {
	padding: 3px;
	color: #4B4A4A;
	text-shadow: #ddf 1px 1px 0;
	margin-bottom: 0;
	background-color: #E6EDED;
	font-size: 1.2em;
	font-weight: bold;
}

.underline {
	border-bottom: 1px solid #6F7277;
}

.boundary {
	padding-left: 10px;
	padding-right: 10px;
}

.bar {
	padding: 3px;
	background-color: #E6EDED;
}

.barPopup {
	float: right;
	width: 100%;
	background-color: #E6EDED;
}

.right {
	float: right;
	margin: 3px;


	display: inline;
}

.details {
	border: 1px solid #E6EDED;
	width: 100%;
}

.trenner {
	border-bottom: 1px solid #E6EDED;
}

.panelHTML {
	border: 0px solid #ddf;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 5px;
	bottom: 0px;
}

.controls {
	position: relative;
	width: 98%;
	min-height: 26px;
}

.controls table {
	position: absolute;
	right: 0;
	top: 2px;
}

.controls button, .controls select, .controls input {
	float: left;
	margin: 0 2px;
}

.listView {
	position: relative;
	padding-right: 5px;
}

.scroll1 {
	width: 100%;
}

.listView  table {
	
}

.content  table {
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.content  button {
	background: none;
	cursor: pointer;
}

.buttonDetailsList {
	float: left;
	background: none;
	cursor: pointer;
}

.headerLine {
	background-color: #E6EDED;
	height: 25px;
}

.barDetailsList {
	padding: 3px;
	float: right;
	background-color: #E6EDED;
}

.content {
	padding: 5px;
}

.nav {
	border: 1px solid #E6EDED;
	width: 100%;
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
}

.textarea {
	border: 1px solid #E6EDED;
	width: 100%;
}

@def contentWidth 850px;
.disabled {
	color: gray;
}

.body {
	overflow: auto;
}

.banner {
	background-color: #777;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	margin-top: 1.5em;
	height: 4em;
}

.title {
	color: white;
	padding: 1em;
	position: absolute;
	color: #def;
}

.title h2 {
	margin: 0;
}

.error {
	position: absolute;
	left: 12%;
	right: 12%;
	text-align: center;
	background-color: red;
}

.login {
	position: absolute;
	left: 75%;
	right: 0%;
	text-align: center;
	color: #def;
}

.users {
	position: absolute;
	right: 0;
}

.centered {
	width: contentWidth;
	margin-right: auto;
	margin-left: auto;
}

.content {
	position: relative;
	border: 1px solid #ddf;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.entities {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 11em;
}

.entitiesList {
	border-right: 1px solid #ddf;
	height: 100%;
	outline: none;
}

.entitiesList>div>div {
	padding-left: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.entityDetails {
	/* dk, 2011-09-01: we don't want too much free space on the left
			margin-left: 11em;
			*/
	
}

.logos {
	color: #aaa;
	font-size: 0.8em;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

  /**********************/
 /* Important classes! */
/**********************/

body {
	background: none repeat scroll 0 0 #ffffff;
}

/* TODO: saubere Lösung für Ladebildschirm */
.loadingScreen {
	position: absolute;
	margin: 100px auto;
	background: url("data:image/gif;base64,R0lGODlhLwAtAOZmAP///9DQ0NPT0wAAACEhIYiIiFJSUlNTU4mJidLS0tHR0eDg4M/Pz9XV1eLi4srKysDAwICAgPDw8NfX15CQkOnp6cvLy5OTk/Hx8aGhoerq6sHBweXl5aurqz4+Pl5eXn9/f6CgoMTExPf397+/v6+vr/Ly8mBgYNra2jExMQgICK6urnl5ecXFxRoaGvT09LW1tVxcXE5OTu/v76qqqj8/P7a2tmpqaiAgIL29vejo6Kenp/X19aampiwsLJSUlPj4+JGRkZeXl7y8vIqKigcHB2lpaZWVlbS0tE9PTzAwMD09PVtbW6KiorGxsbCwsMzMzOTk5HNzc3R0dJ+fn11dXYaGhpaWlnFxcZiYmNTU1OHh4d/f39jY2L6+vnh4eHBwcIuLi9bW1hsbG35+fi0tLf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBwBmACwAAAAALwAtAAAH/4BmZgKEhYaHiImKiYKDAI+QkZKTlJWUAo6WmpucjwECnaGikJ+jppylp6qUqacjDg4YqwCtowIUCAVBoKq1oUAUBcLCsqe+nQLDwggWvbyWAUlLHk6PKMq5zQAOJTslDqgJmgED5eXVEsMIuRIA18rg4+KWSeblPo/Jw7w9ygUrmwLMq+TBXjlIEqBAKQbAX66AAynVs+dC0w51BXZA1LTB4BNN13LlQrFRkxMfA3x83ISCCoIQJEvOmimw0oIMQRas0gABSQVoESFlUGEuwykSBwwohVApgIJJM4ja0ylKg9KrBjSweiqpo0EKo0hgXbp1kld7EUZBMJD0Komykt0kFDFINZSGA23Zap3klFKIueVCHFWalCncSQtCUKhrSgMSEnsPz1wVIMCmHDIIyMjB6YEUA1K0jbNsyQKB06eHaHpwNanopqQr3UB9uoamz1hBBIxNKQbt05CiZMjAARJhwjd2a5pN28OjFbRLPALB9moY5ZYmEMCBWjWH7ae5F2fdWgz27DeYxOAMoMRvAk0eNSACgkgDVLxD5Xgf31j+Thik8FtxxjCgSgkCEpCCdL0YqIoJFljAUIGT0eRghQ1iSNmFGo5SWYfGmPEfiNA0UtmJKKao4oossihIIAAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEgzMbGxKFi4yNABkqAwMqEI6WiwuRkpMzl54AQZubT4MCIi0Yn4ShogMhgiEFshQVjgE+kkmKC60DCwAWsrIIQo0LRaIegqySGYI7wsONFL0BggEREb+CMMMIso0RvZWNDt4FO40ZvZ2OLcI7QI5lolieQFs6lzNBS0mkqgRhgGJBUcBLWoQh0DLIhIUHHA4K/CaMwggAE5QQ2LhC4rtoBRwASLGxZMSAFr5RDPmgZMkLByWcs2jB5UaYBwUU+EZBAAATGl1OkAhAggAUFwWtcImTKCMOTS4MPdjgCggkPC5FeZDqEgQDYA1McYSByUtLLz6EBUtu0RebOWUcNQB74ADYDo1c4iBwY5AGGB22aTBgNyxeRjYJMBH0lS45EGur1GJUw+YPABXUEgb7iwfkA0YeOMpYUoYJAHPXGjgckMOPCytOo1ZtAInTQjw0h9Vwu1ADzR9I9F7Eo0GDrJ4CAQAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEgwELhYmKi4IKLgMDHgGMlIkSRZCQY4WHlYoUmZkbgk4qkJKehBGhkKMLrD6VEw8YghCsA4irrAqLGDIEBCklgiehWIK7oaOKTMHPFoIhJycQg0+4EooTz88XlMaZIYsP3cHflCEREcyLKc84BMSpgjoiFiOFK9039II2BQJS0FGIw4ULK/wBEBCwAIICQhQyyuGwYYEKgx484CARAMWKDwlOqPEsoUIHDR9GBACs2wOJHxFQwMjNHDqFEhw4ACKoZjcrHRWR7GaSnoMWUGoRmqDkGQuFAAMiQFGwyYUcChlapEBpQYcOJCq1qCjVwSIIBgwcMHCFkgipDV4JJnrxIa3dBoMadKCBFwBKi1QWNbBrl4YgEmkPHDgiSCuCLHITLVhLuAOACpTvCsKgs5IRtYk1ABhM+IBlfwuMrP0QdnTpA0g6Lug76AbhDxiDFkqd9sNL3YpmpwoEACH5BAUHAGYALAcABgAgACAAAAf/gACCg4SFhoeIhhwsBB4XJomRhiY1BJYEMYQUHksZkoYZljiXE4IeA6gDJ5+EP5eXFgBOqakKrIIrr5YcABG0qBuREw8PghgyryyCGb8DwYiMozIYACYsMjEXgzMutC6Joa83kQGnAx5ciTG6BLeDGREZM4Tro5fuEj6pPhKDTbqZbp34tUqQCSaXakRxt+SXikJDLpSA5M5cqofuEvmiVVDQggYVMg5KkspDPwA8QBwwYOCISEEKNgQgdMXASps0Xh6qwrInCJEOLIQkxPKmATL4hBRAUMAGISI9WXq61aOAVauxBGn40HPKC3dXlxbYQegFDBokvoJdioBpj0QaYaAaIMIj0o6wBbIekhJ1CiERPXaIGAGgglKrMBI9iGqzgSAbYUMIGoFCxFBEHRgbyFkBLwIB7hbYLGpgAQAHYq+KyAgi6s/CYZmCzggDBAgkhKpeFQJEp6ERNpiuoOa7eCAAIfkEBQcAZgAsCAAHAB4AHgAAB/+AAIKDgys3Vg+EghaJio6KLASSBBmDEzWSKROPj0OTOJJRABgpkwQpJpyKF6aSiTmtOCWqhD+tBIklsRe0gxylkzKCHLebjxUwHQuCQ5gETMYArJMsnCQfBwYGR5aiihYXP40LQREQgi8f2usNvYRPKgPyJwANBtn3Bh3ugy7y/yHsrdNGgx8ABf/+RQBQRVu2A8v4BUgob+ECddpIGBTkg+IGdA0aVNgoSIE/eRRI0tqwIaIgDSFVqsrgcIoGlQsgnFu0LhsIkhT+qQgA4EhPbRs3UHQBgMhApAYjUBwQgMQBfAeMbJRK8ZxRbR9culOasMigBx1g3ATgoIWIkYpgMEgYdOJfkZ2ObCAowFfAoAo9CiAQAjdABApiCTngy7jACEFCGlMAwq/FXsYIHLAVzHevBX4WODPWvPgy3xb8JIgukBKA6sYFNPMTQIGvEB2DcmC2odKBbEJbYNjwyykQACH5BAUHAGYALAgABwAeAB4AAAf/gACCg4I8DQ2Egg8sLCWJj4kQHwYHRguDVgSaBCyQkBqTBqIfLwAcm5sWnolIoq4GiA+omj+rhDSiBweisbMEGbaDDZSvGoI1qEomwYNHrySDEzKaNROKF00chA8dMMYADR0dl4kcUYMsmylDgiCuH+TMAEOzSgAwrwc38oI/vg9EcuX6xuyCrwnOXhkoJU8WqhrgiIkCwU9QCXXWAGTQdWAKj4qCODx4gIFQhUMgU6aEsCEegBEOHEhIGcDFgJtgBOmgUABBAQEgbd68CQFAkJ4FklbgF2Do0AgOkkot0IKp05tQfU4VUVHo0AwjeE51UHGDiqEnBKEQW8DLoAolVxNtiBChKIAFFCJsICQBSoulAFAISRoCsFGnaeVJ0JqUiqAFVwcEkNdialKyISJHoGy5ANknkYExQ9G5pISzQ4vM4GcDKQJVgmreVDG5ogAbOchG2uspEAAh+QQFBwBmACwIAAcAHgAeAAAH/4AAgoOEhTxXVQdhGoWNhR0gIB2EUwYHBwZGL46ORAafBiCCDZifmBCchVyWoAcLAA2goJOpgzCmoDQAC7KfJLWDD7KXD4JHslOCGEMXXalSuFKENJEdmxM1BNosnC+eBkSbqTHa5RmCQFAtWiPAheXlMQA6FAX2Ie3ugvDa8iX2AG3oE8SE3zmAAHcMBMDBQzluAIIUQACwx0JBDzJMGGSDoj0EIi46GtEDoBeRgiY8KDZIhwMJKDHciGcCZaEL/CACQNECRb6B5OClADBiB0AhMIHyUwIACsICFgey4PcFQEmAFBeakFFORs2SHu2JXPFjxSALH+2VqBXAw4ABHlNeOYLhkUo7CSc8LIkwSIKLt29dpKrgwIGgGT4ADzghyInitxv0hXg8QAGACJRRucP8ODIEygH0ZQAtaIlixvr8KvZAiIIHDyEuLkhSxAWWGQsDAQAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEhYILDYaKi4oLRgYGHw+MlBUOhY8GBwZVGpSGFSEFCBQCgg2Qm5BIn4WiBbAIGACokLYdrYMVsLwIIgAatraJwA3Eiw6jCKMFvwAkqQZHgtCQRguLIxTLvCiDDR00k7SatjeMArEFNpQ05bbYixUiIt7twprHABgW9bmD1VJ9IIQiCC92/wAc2bRpnKAsy7iZSgiORgVCu3jBapGQkQSNsJx1jGLhgYlBVEBe6miFgMsUEwRVyMJsYkILLnN6IOTAgYSOgi64xJEzJlBDP4jmJGD0UIQIGTqWWEpg56AMA7IOONGRRU6YhIpozRqi44QLTWYN2jA2a4RPK2GsXLDAaEHbAW8Zec25gpGHthsEZThxwsmgHFQJqDUkwUdWFVEBnBiLJWhiuowCQJghyMldbEKpdkkY4W5gDlRldKRgWtCQGi6ZNM01Q8VYF4UmcDgKIICLrEsC8K4bL2EgACH5BAUHAGYALAcABgAgACAAAAf/gACCg4SFQA4OEoWLjI0AFRQFkgKOlYtAkQUIkoqWhRItIgJAgluSpwUWnoQ6mQhUIwAOqJItq4NZmpsFIgAjFAi7BToAPCAGBjcNjsKSO4ICqL0AxwcGBx8ajc0IJYMYUCLEABrWyAcHHY0wp5sojg3myAY0jUA9u9OOH+fIEJUSHMSyBGGeASmLuFCIEODWoAZXQMB4USjEgIsDIjisNEMFxosKNgrSAIEERQAQPl7UuLGgtSokUKrMuLGcvA88ABRRuWBjB4PWlgXweDGESBoGkYkRNAMChJ4iKyT9cFLkIhLzDvwjJIHCkiRPoiKBoa2Qj49gPJl4MKGSRZWdaRr9IEBXholGEWZuZfSArt8YjSjMbAhgwoULbQWx8Ou30QKiFz0IKsHYG4AYjOk6CjAm8gwAHDIT4ACgSeYaGy+IXiFIhl8liW+tWD2oxI8LUURySME4xV2ri4bwJpBiCPBGGCxY+L0qEAA7") no-repeat scroll 0 0 #ffffff;
	border: 0;
}

  /**************/
 /* NAVIGATION */
/**************/
.mainNav {
	padding-left:8px;
	padding-right: 20px;
}

.mainNavPanel {
	margin-top: 1px;
	margin-bottom: 7px;
	width: 100%;
}

.mainNavPanel table {
	width: 100%;
}

.mainNavPanelContent a {
    display: block;
    padding: 2px 2px 2px 2px;
}

.mainNavPanelContent a:hover {
    background-color: #e6e6e6;
}

.mainNavHeaders {
	
}

  /*********/
 /* TABLE */
/*********/

.standardTable {
	clear: both;
	position: relative;
	margin: 8px 0;
	width: 98%;
}

.standardTable button {
	outline: none !important;
	margin: 0 0 0 -5px;
	padding: 3px 2px 0;
	border: 0;
	background: none;
	cursor: pointer;
	cursor: hand;
}

.standardTable button span {
}

.iconCell {
	width: 20px;
}

.regularCell {
	width: 50%;
}

/* #loading {
	position: absolute;
	margin: 100px auto;
	background: url("data:image/gif;base64,R0lGODlhLwAtAOZmAP///9DQ0NPT0wAAACEhIYiIiFJSUlNTU4mJidLS0tHR0eDg4M/Pz9XV1eLi4srKysDAwICAgPDw8NfX15CQkOnp6cvLy5OTk/Hx8aGhoerq6sHBweXl5aurqz4+Pl5eXn9/f6CgoMTExPf397+/v6+vr/Ly8mBgYNra2jExMQgICK6urnl5ecXFxRoaGvT09LW1tVxcXE5OTu/v76qqqj8/P7a2tmpqaiAgIL29vejo6Kenp/X19aampiwsLJSUlPj4+JGRkZeXl7y8vIqKigcHB2lpaZWVlbS0tE9PTzAwMD09PVtbW6KiorGxsbCwsMzMzOTk5HNzc3R0dJ+fn11dXYaGhpaWlnFxcZiYmNTU1OHh4d/f39jY2L6+vnh4eHBwcIuLi9bW1hsbG35+fi0tLf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBwBmACwAAAAALwAtAAAH/4BmZgKEhYaHiImKiYKDAI+QkZKTlJWUAo6WmpucjwECnaGikJ+jppylp6qUqacjDg4YqwCtowIUCAVBoKq1oUAUBcLCsqe+nQLDwggWvbyWAUlLHk6PKMq5zQAOJTslDqgJmgED5eXVEsMIuRIA18rg4+KWSeblPo/Jw7w9ygUrmwLMq+TBXjlIEqBAKQbAX66AAynVs+dC0w51BXZA1LTB4BNN13LlQrFRkxMfA3x83ISCCoIQJEvOmimw0oIMQRas0gABSQVoESFlUGEuwykSBwwohVApgIJJM4ja0ylKg9KrBjSweiqpo0EKo0hgXbp1kld7EUZBMJD0Komykt0kFDFINZSGA23Zap3klFKIueVCHFWalCncSQtCUKhrSgMSEnsPz1wVIMCmHDIIyMjB6YEUA1K0jbNsyQKB06eHaHpwNanopqQr3UB9uoamz1hBBIxNKQbt05CiZMjAARJhwjd2a5pN28OjFbRLPALB9moY5ZYmEMCBWjWH7ae5F2fdWgz27DeYxOAMoMRvAk0eNSACgkgDVLxD5Xgf31j+Thik8FtxxjCgSgkCEpCCdL0YqIoJFljAUIGT0eRghQ1iSNmFGo5SWYfGmPEfiNA0UtmJKKao4oossihIIAAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEgzMbGxKFi4yNABkqAwMqEI6WiwuRkpMzl54AQZubT4MCIi0Yn4ShogMhgiEFshQVjgE+kkmKC60DCwAWsrIIQo0LRaIegqySGYI7wsONFL0BggEREb+CMMMIso0RvZWNDt4FO40ZvZ2OLcI7QI5lolieQFs6lzNBS0mkqgRhgGJBUcBLWoQh0DLIhIUHHA4K/CaMwggAE5QQ2LhC4rtoBRwASLGxZMSAFr5RDPmgZMkLByWcs2jB5UaYBwUU+EZBAAATGl1OkAhAggAUFwWtcImTKCMOTS4MPdjgCggkPC5FeZDqEgQDYA1McYSByUtLLz6EBUtu0RebOWUcNQB74ADYDo1c4iBwY5AGGB22aTBgNyxeRjYJMBH0lS45EGur1GJUw+YPABXUEgb7iwfkA0YeOMpYUoYJAHPXGjgckMOPCytOo1ZtAInTQjw0h9Vwu1ADzR9I9F7Eo0GDrJ4CAQAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEgwELhYmKi4IKLgMDHgGMlIkSRZCQY4WHlYoUmZkbgk4qkJKehBGhkKMLrD6VEw8YghCsA4irrAqLGDIEBCklgiehWIK7oaOKTMHPFoIhJycQg0+4EooTz88XlMaZIYsP3cHflCEREcyLKc84BMSpgjoiFiOFK9039II2BQJS0FGIw4ULK/wBEBCwAIICQhQyyuGwYYEKgx484CARAMWKDwlOqPEsoUIHDR9GBACs2wOJHxFQwMjNHDqFEhw4ACKoZjcrHRWR7GaSnoMWUGoRmqDkGQuFAAMiQFGwyYUcChlapEBpQYcOJCq1qCjVwSIIBgwcMHCFkgipDV4JJnrxIa3dBoMadKCBFwBKi1QWNbBrl4YgEmkPHDgiSCuCLHITLVhLuAOACpTvCsKgs5IRtYk1ABhM+IBlfwuMrP0QdnTpA0g6Lug76AbhDxiDFkqd9sNL3YpmpwoEACH5BAUHAGYALAcABgAgACAAAAf/gACCg4SFhoeIhhwsBB4XJomRhiY1BJYEMYQUHksZkoYZljiXE4IeA6gDJ5+EP5eXFgBOqakKrIIrr5YcABG0qBuREw8PghgyryyCGb8DwYiMozIYACYsMjEXgzMutC6Joa83kQGnAx5ciTG6BLeDGREZM4Tro5fuEj6pPhKDTbqZbp34tUqQCSaXakRxt+SXikJDLpSA5M5cqofuEvmiVVDQggYVMg5KkspDPwA8QBwwYOCISEEKNgQgdMXASps0Xh6qwrInCJEOLIQkxPKmATL4hBRAUMAGISI9WXq61aOAVauxBGn40HPKC3dXlxbYQegFDBokvoJdioBpj0QaYaAaIMIj0o6wBbIekhJ1CiERPXaIGAGgglKrMBI9iGqzgSAbYUMIGoFCxFBEHRgbyFkBLwIB7hbYLGpgAQAHYq+KyAgi6s/CYZmCzggDBAgkhKpeFQJEp6ERNpiuoOa7eCAAIfkEBQcAZgAsCAAHAB4AHgAAB/+AAIKDgys3Vg+EghaJio6KLASSBBmDEzWSKROPj0OTOJJRABgpkwQpJpyKF6aSiTmtOCWqhD+tBIklsRe0gxylkzKCHLebjxUwHQuCQ5gETMYArJMsnCQfBwYGR5aiihYXP40LQREQgi8f2usNvYRPKgPyJwANBtn3Bh3ugy7y/yHsrdNGgx8ABf/+RQBQRVu2A8v4BUgob+ECddpIGBTkg+IGdA0aVNgoSIE/eRRI0tqwIaIgDSFVqsrgcIoGlQsgnFu0LhsIkhT+qQgA4EhPbRs3UHQBgMhApAYjUBwQgMQBfAeMbJRK8ZxRbR9culOasMigBx1g3ATgoIWIkYpgMEgYdOJfkZ2ObCAowFfAoAo9CiAQAjdABApiCTngy7jACEFCGlMAwq/FXsYIHLAVzHevBX4WODPWvPgy3xb8JIgukBKA6sYFNPMTQIGvEB2DcmC2odKBbEJbYNjwyykQACH5BAUHAGYALAgABwAeAB4AAAf/gACCg4I8DQ2Egg8sLCWJj4kQHwYHRguDVgSaBCyQkBqTBqIfLwAcm5sWnolIoq4GiA+omj+rhDSiBweisbMEGbaDDZSvGoI1qEomwYNHrySDEzKaNROKF00chA8dMMYADR0dl4kcUYMsmylDgiCuH+TMAEOzSgAwrwc38oI/vg9EcuX6xuyCrwnOXhkoJU8WqhrgiIkCwU9QCXXWAGTQdWAKj4qCODx4gIFQhUMgU6aEsCEegBEOHEhIGcDFgJtgBOmgUABBAQEgbd68CQFAkJ4FklbgF2Do0AgOkkot0IKp05tQfU4VUVHo0AwjeE51UHGDiqEnBKEQW8DLoAolVxNtiBChKIAFFCJsICQBSoulAFAISRoCsFGnaeVJ0JqUiqAFVwcEkNdialKyISJHoGy5ANknkYExQ9G5pISzQ4vM4GcDKQJVgmreVDG5ogAbOchG2uspEAAh+QQFBwBmACwIAAcAHgAeAAAH/4AAgoOEhTxXVQdhGoWNhR0gIB2EUwYHBwZGL46ORAafBiCCDZifmBCchVyWoAcLAA2goJOpgzCmoDQAC7KfJLWDD7KXD4JHslOCGEMXXalSuFKENJEdmxM1BNosnC+eBkSbqTHa5RmCQFAtWiPAheXlMQA6FAX2Ie3ugvDa8iX2AG3oE8SE3zmAAHcMBMDBQzluAIIUQACwx0JBDzJMGGSDoj0EIi46GtEDoBeRgiY8KDZIhwMJKDHciGcCZaEL/CACQNECRb6B5OClADBiB0AhMIHyUwIACsICFgey4PcFQEmAFBeakFFORs2SHu2JXPFjxSALH+2VqBXAw4ABHlNeOYLhkUo7CSc8LIkwSIKLt29dpKrgwIGgGT4ADzghyInitxv0hXg8QAGACJRRucP8ODIEygH0ZQAtaIlixvr8KvZAiIIHDyEuLkhSxAWWGQsDAQAh+QQFBwBmACwHAAYAIAAgAAAH/4AAgoOEhYILDYaKi4oLRgYGHw+MlBUOhY8GBwZVGpSGFSEFCBQCgg2Qm5BIn4WiBbAIGACokLYdrYMVsLwIIgAatraJwA3Eiw6jCKMFvwAkqQZHgtCQRguLIxTLvCiDDR00k7SatjeMArEFNpQ05bbYixUiIt7twprHABgW9bmD1VJ9IIQiCC92/wAc2bRpnKAsy7iZSgiORgVCu3jBapGQkQSNsJx1jGLhgYlBVEBe6miFgMsUEwRVyMJsYkILLnN6IOTAgYSOgi64xJEzJlBDP4jmJGD0UIQIGTqWWEpg56AMA7IOONGRRU6YhIpozRqi44QLTWYN2jA2a4RPK2GsXLDAaEHbAW8Zec25gpGHthsEZThxwsmgHFQJqDUkwUdWFVEBnBiLJWhiuowCQJghyMldbEKpdkkY4W5gDlRldKRgWtCQGi6ZNM01Q8VYF4UmcDgKIICLrEsC8K4bL2EgACH5BAUHAGYALAcABgAgACAAAAf/gACCg4SFQA4OEoWLjI0AFRQFkgKOlYtAkQUIkoqWhRItIgJAgluSpwUWnoQ6mQhUIwAOqJItq4NZmpsFIgAjFAi7BToAPCAGBjcNjsKSO4ICqL0AxwcGBx8ajc0IJYMYUCLEABrWyAcHHY0wp5sojg3myAY0jUA9u9OOH+fIEJUSHMSyBGGeASmLuFCIEODWoAZXQMB4USjEgIsDIjisNEMFxosKNgrSAIEERQAQPl7UuLGgtSokUKrMuLGcvA88ABRRuWBjB4PWlgXweDGESBoGkYkRNAMChJ4iKyT9cFLkIhLzDvwjJIHCkiRPoiKBoa2Qj49gPJl4MKGSRZWdaRr9IEBXholGEWZuZfSArt8YjSjMbAhgwoULbQWx8Ou30QKiFz0IKsHYG4AYjOk6CjAm8gwAHDIT4ACgSeYaGy+IXiFIhl8liW+tWD2oxI8LUURySME4xV2ri4bwJpBiCPBGGCxY+L0qEAA7") no-repeat scroll 0 0 #ffffff;
	border: 0;
} */

/* .cellTable th {
	text-shadow: none;
	border-bottom: 1px solid #212121;
	color: #212121;
	font-weight: bold;
}

.cellTableOddRow {
  background: #00ff00;
} */